{% extends 'base.html' %}
{% block content %}

<style>
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  table {
    width: 70%;
    border-collapse: collapse;
    background-color: white;
  }

  th,
  td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  .remove-button {
    background-color: red;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    margin-right: 3px;
  }

  .add-button {
    background-color: green;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
  }

  .buy-button {
    background-color: blue;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
  }

  .delivery-info {
    margin-top: 20px;
    padding: 10px;
    background-color: #f2f2f2;
  }

  .delivery-info h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .delivery-info p {
    margin-bottom: 5px;
  }
</style>
<!-- cart.html -->
{% for cart in user.carts.all %}
<div class="delivery-info">
  <table>
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Unit price</th>
        <th>Total</th>
        {% if cart.status == "NOTCLOSED" %}
        <th>Action</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for cart_item in cart.cartitem_set.all %}
      <tr>
        <td>{{ cart_item.product.product_name }}</td>
        <td>{{ cart_item.quantity }}</td>
        <td>{{ cart_item.product.price }}</td>
        <td>{{ cart_item.get_total }}</td>
        {% if cart.status == "NOTCLOSED" %}
        <td style="display:flex">
          <a class="remove-button" href="/remove_from_cart/{{ cart_item.id }}">-</a>
          <a class="add-button" href="/add_to_cart/{{ cart_item.product.id }}">+</a>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h3>Delivery Information</h3>
  <p>Name: {{ cart.user.username }}</p>
  <p>Address: {{ cart.user.address }}</p>
  <p>Phone: {{ cart.user.phone_number }}</p>
  <p class="cart-total" id="{{cart.id}}">Cart Total: {{ cart.get_total }}</p>
  <p class="status">Status: {{ cart.status }}</p>
  {% if cart.status == "NOTCLOSED" and cart.products.count != 0 %}
  <a class="buy-button" href="{% url 'buy' cart_id=cart.id %}"  >Payment in Cart</a>
    <div id="paypal-button-{{ cart.id }}"></div>
  {% endif %}
  {% if cart.status == "PENDING" %}
    <a href="{% url 'delete_cart' cart_id=cart.id %}">Delete cart</a>
  {% endif %}
  {% if forloop.last %}
    {% if cart.status != "NOTCLOSED" %}
      <a href="{% url 'create_cart' %}">Create New Cart</a>
    {% endif %}
  {% endif %}
</div>
{% endfor %}

<script src="https://www.paypal.com/sdk/js?client-id=AbXnulzyv21RYL_-rLp9YENyLZEWDstWnq00IT6t_iGjTt6SLjZSDRJHnyfTCS02bvuGE94iIRatNHkG"></script>

<script>
  {% for cart in user.carts.all %}
  {% if forloop.last %}
  paypal.Buttons({
    createOrder: function(data, actions) {
      var price = parseInt(document.getElementById("{{cart.id}}").innerText.replace(/\D/g, "")) / 23000;
      console.log(price)
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: price.toFixed(2),
            currency_code: "USD"
          }
        }]
      });
    },    onApprove: function(data, actions) {
      return actions.order.capture().then(function(details) {
        window.location.href = "{% url 'paypal' cart_id=cart.id %}";
      });
    }
  }).render('#paypal-button-{{ cart.id }}');
  {% endif %}
  {% endfor %}
</script>

{% endblock %}
