{% extends 'base.html' %} {% block content %}
<style>
  .password-reset-request-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .password-reset-request-form {
    background-color: white;
    padding: 30px;
    border-radius: 7%;
    margin-bottom: 10px;
  }

  .password-reset-request-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .password-reset-request-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .password-reset-request-form input[type="email"] {
    padding: 5px;
    width: 200px;
    margin-bottom: 10px;
  }

  .password-reset-request-form button[type="submit"] {
    padding: 8px 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }
</style>
<div class="password-reset-request-container">
  <form method="post" class="password-reset-request-form">
    {% csrf_token %}
    <h2>Password Reset Request</h2>
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required />
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
{% endblock %}
